:root {
  --red: #dc3545;
  --redlight: #f16a78;
  --green: #28a745;
  --teal: #20c997;
  --blue: #007bff;
  --cyan: #17a2b8;
  --cyanlight: #d1ecf1;
}

.switcher {
  display: flex;
  align-items: center;
}

.toggle-wrapper {
  margin: 0 10px;
}

.switcher-mode {
  color: var(--red);
  text-decoration: line-through;
  letter-spacing: 2px;
  transition: text-decoration 0.7s linear;

}

.active-mode {
  color: var(--teal);
  text-decoration: none;
  font-weight: bold;
  transition: text-decoration 0.7s linear, font-weight 0.3s linear, color 0.7s linear;
}

/*TOOGLE*/
@keyframes cup {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(75deg) translate(10px, 15px);
  }
  90% {
    transform: rotate(70deg) translate(10px, 15px);
  }
  100% {
    transform: rotate(75deg) translate(10px, 15px);
  }
}

input {
  display: none
}

.toggle-wrapper:nth-child(1) {
  background: #dec387;
}
.toggle-wrapper:nth-child(3) {
  background: #87aade;
}
.toggle-wrapper:nth-child(4) {
  background: #c5de87;
}
.toggle-wrapper:nth-child(5) {
  background: #87ded2;
}
.toggle-wrapper:nth-child(6) {
  background: #c487de;
}
.toggle-wrapper:nth-child(7) {
  background: #de8787;
}
.toggle-wrapper:nth-child(7) .toggle {
  transform: translate(-40px, 45px);
}
.toggle-wrapper:nth-child(8) {
  background: #decf87;
}
.toggle-wrapper:nth-child(8) .toggle {
  transform: translate(-40px, 40px);
}


label.toggle-item {
  width: 120px;
  height: 40px;
  background: var(--redlight);
  display: inline-block;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform-origin: 20% center;
  cursor: pointer;
  transition: background 0.5s linear;
}

input:checked + label {
  background: var(--teal);
  transition: background 0.5s linear;
}

.dog-rollover {
  display: flex;
}

.dog-rollover label:before {
  content: none;
}

.dog-rollover *:before, 
.dog-rollover *:after {
  content: "";
  position: absolute;
}
.dog-rollover label .dog {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1px;
  left: 3px;
  transition: 0.6s ease;
}
.dog-rollover label .eyes {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #222;
  border-radius: 50%;
  transform: translate(8px, 12px);
  box-shadow: 16px 0 0 #222, 22px -4px 0 12px var(--cyan);
}
.dog-rollover label .ear {
  width: 14px;
  height: 16px;
  position: absolute;
  left: -4px;
  bottom: 80%;
  background: var(--cyan);
  margin-bottom: -5px;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  box-shadow: inset 4px 0 0 0px #ffffff, inset -4px 0 0 0px #ffffff;
  transform: rotate(-40deg);
}
.dog-rollover label .ear.right {
  transform: rotate(45deg) scaleX(-1);
  left: auto;
  transform-origin: center bottom;
  transition: 0.4s ease-in-out;
  right: -7px;
}
.dog-rollover label .face {
  overflow: hidden;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  background: #fff;
  z-index: 8;
}
.dog-rollover label .mouth {
  position: absolute;
  background: #222;
  width: 14px;
  height: 5px;
  left: 50%;
  margin-left: -7px;
  bottom: 12px;
  border-radius: 2px 2px 20px 20px;
  bottom: 8px;
  transform: scale(0);
  transition: 0.1s ease;
}
.dog-rollover label .mouth:before {
  width: 8px;
  height: 8px;
  background: #ec788d;
  border-radius: 0 0 50% 50%;
  transform: translate(3px, 3px);
}
.dog-rollover label:before {
  border-color: white;
  background: white;
}

#doggo:checked ~ .cup {
  animation: 0.3s linear cup 1s forwards;
}
#doggo:checked + label .dog {
  left: calc(100% - 41px);
  transform: rotate(360deg);
}
#doggo:checked + label .mouth {
  transform: scale(1);
  transition-delay: 0.7s;
}
#doggo:checked + label .ear.right {
  transform: scaleX(-1) rotate(-35deg);
  transition-delay: 0.6s;
}

.play-btn__wrap {
  position: absolute;
  top: 170px;
  right: 0;
  width: 80px;
  height: 40px;
  overflow: hidden;
  z-index: 100;
}

@keyframes play-btn--on {
  from {right: -105%};
  to {right: 0}
}

@keyframes play-btn--off {
  from {right: 0};
  to {right: -105%}
}

.play-btn {
  position: absolute;
  top: 0;
  right: -105%;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px 10px 5px 10px / 10px 5px 20px 5px;
  background: var(--redlight) url('../assets/img/mainpage/play-btn-black.png');
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: center 5px;
  transition: background-color 0.3s linear, background-image 0.3s linear; 
}

.play-btn__on {
  right: 0;
  animation: play-btn--on 0.5s ease-in-out;
}

.play-btn__off {
  right: -105%;
  animation: play-btn--off 0.2s ease-in-out;
}

.play-btn:hover {
  background-color: var(--teal);
  background-image: url('../assets/img/mainpage/play-btn-white.png');
  transition: background-color 0.3s linear, background-image 0.3s linear; 
}

.play-btn:active {
  transform: scale(0.9);
  transition: transform 0.1s linear; 
}

@media(max-width: 540px) {
  .switcher-mode {
    font-size: 16px
  }

  label.toggle-item {
    width: 90px
  }

  .play-btn__wrap {
    top: 160px;
  }
}

